<footer class="card-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright 2021 <a>devfast</a></span>
        </div>
    </div>
</footer>